body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #fff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.triflix__header {
  z-index: 2;
  height: 8rem;
  border-bottom-left-radius: 30%;
  position: relative;
  border-bottom-right-radius: 30%;
  top: -1.34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
}

.triflix__header-hamburger {
  display: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ee2e0d), color-stop(#d65200), color-stop(#bf6600), color-stop(#a97300), to(#957c14));
  background-image: linear-gradient(to right bottom, #ee2e0d, #d65200, #bf6600, #a97300, #957c14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.triflix__header-hamburger i {
  font-size: 1.5rem;
}

.triflix__header-logo {
  margin-top: 1rem;
}

.triflix__header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41%;
}

.triflix__header-links__item {
  list-style: none;
  font-size: 1.1rem;
}

.triflix__header-links__item a {
  font-weight: bolder;
  color: #b39d45;
}

.triflix__header-search {
  position: relative;
}

.triflix__header-search i {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ee2e0d), color-stop(#d65200), color-stop(#bf6600), color-stop(#a97300), to(#957c14));
  background-image: linear-gradient(to right bottom, #ee2e0d, #d65200, #bf6600, #a97300, #957c14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.triflix__header-searchBox {
  display: none;
  position: absolute;
  right: 4rem;
  top: 8rem;
  width: 20rem;
}

.triflix__header-searchBox input {
  width: 100%;
  outline: none;
  height: 2rem;
  font-size: 1.1rem;
  padding: 0 1rem;
  color: #ee2e0d;
}

.triflix__header-searchBox .cross {
  position: absolute;
  right: 1rem;
  top: 0;
  right: 0;
  height: 2rem;
  background-color: #b39d45;
  color: #fefefe;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.triflix__header-searchBox.show {
  display: block;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (min-width: 880px) and (max-width: 1100px) {
  .triflix__header-links {
    width: 50%;
  }
}

@media screen and (max-width: 880px) {
  .triflix__header {
    height: 6rem;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .triflix__header-links {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#957c14), color-stop(#a97300), color-stop(#bf6600), color-stop(#d65200), to(#ee2e0d));
    background-image: linear-gradient(to right bottom, #957c14, #a97300, #bf6600, #d65200, #ee2e0d);
    top: 7rem;
    height: 11rem;
    width: 11rem;
    border-radius: 1rem;
  }
  .triflix__header-links a {
    color: #000000;
  }
  .triflix__header-links a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  .triflix__header-links.show {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 880px) and (min-width: 500px) {
  .triflix__header-links {
    width: 13rem;
    height: 13rem;
  }
  .triflix__header-links__item {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 880px) {
  .triflix__header-hamburger {
    display: block;
  }
  .triflix__header-hamburger i {
    -webkit-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
  }
  .triflix__header-searchBox {
    width: 15rem;
    top: 7rem;
    right: 3rem;
  }
  .triflix__header-searchBox input {
    font-size: 1rem;
  }
}

.triflix__header.sticky {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  position: -webkit-sticky;
  position: sticky;
  background: black;
  height: 6rem;
}

.triflix__header.sticky .triflix__header-logo img {
  min-width: 70% !important;
}

@media screen and (max-width: 880px) {
  .triflix__header.sticky {
    height: 4.5rem;
  }
}

.triflix__home {
  position: relative;
  top: -10rem;
}

.triflix__home-carousel img {
  width: 100%;
}

@media screen and (max-width: 870px) {
  .triflix__home-carousel {
    padding: 8rem 0;
    background: black;
  }
}

.triflix__home .swiper-pagination-bullet {
  opacity: 1;
  background: white;
}

.triflix__home .swiper-pagination-bullet-active {
  background: #b39d45;
}

.triflix__home .swiper-button-next,
.triflix__home .swiper-button-prev {
  color: #b39d45;
}

.triflix__home-movies {
  padding: 3rem;
}

.triflix__home-movies__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.triflix__home-movies__switch .active {
  background: white;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.triflix__home-movies__switch-left {
  background: #000000;
  padding: 0.2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b39d45;
  border-radius: 0 50% 50% 0;
}

.triflix__home-movies__switch-left .active {
  margin-left: 3rem;
}

.triflix__home-movies__switch-left .active.show {
  background: green;
}

.triflix__home-movies__switch-right {
  padding: 0.2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  color: #b39d45;
  border-radius: 50% 0 0 50%;
}

.triflix__home-movies__switch-right .active {
  margin-right: 3rem;
}

.triflix__home-movies__switch-right .active.show {
  background: green;
}

.triflix__home-movies__cards {
  padding: 3rem;
  margin: 2rem;
  background: #000000;
  border-radius: 20px;
}

.triflix__home-movies__cards img {
  width: 100%;
  border-radius: 1rem;
}

.triflix__home-movies__cards-detail h4 {
  font-size: 1.1rem;
  color: #b39d45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.triflix__home-movies__cards-detail h4 span {
  font-weight: bold;
  color: #C1A79E;
}

@media screen and (min-width: 1400px) {
  .triflix__home-movies__cards {
    margin: 3rem 10rem;
    padding: 3rem 15rem;
  }
}

@media screen and (min-width: 1950px) {
  .triflix__home-movies__cards {
    margin: 3rem 10rem;
    padding: 3rem 15rem;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .triflix__home-movies__cards {
    padding: 3rem 8rem;
  }
}

@media screen and (max-width: 750px) {
  .triflix__home-movies {
    padding: 3rem 1rem;
  }
  .triflix__home-movies__switch-left {
    padding: 0 1rem;
  }
  .triflix__home-movies__switch-right {
    padding: 0 1rem;
  }
  .triflix__home-movies__cards {
    font-size: .76rem;
    padding: 1rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 500px) {
  .triflix__home-movies__switch {
    font-size: 0.7rem;
  }
  .triflix__home-movies__switch .active {
    width: 0.6rem;
    height: 0.6rem;
  }
  .triflix__home-movies__switch-left .active {
    margin-left: 1rem;
  }
  .triflix__home-movies__switch-right .active {
    margin-right: 1rem;
  }
}

.triflix__home-movies__redirect {
  position: absolute;
  right: 2rem;
  margin-top: 5rem;
  cursor: pointer;
}

.triflix__home-movies__redirect h3 {
  position: absolute;
  right: 4rem;
  bottom: -.3rem;
  color: #b39d45;
}

.triflix__home-movies__redirect-arrow {
  width: 10rem;
  height: .3rem;
  background: #000000;
  position: relative;
  border-radius: 1rem;
}

.triflix__home-movies__redirect-arrow::after {
  border-radius: 1rem;
  content: "";
  display: inline-block;
  width: 3rem;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  height: .3rem;
  background: #000000;
  right: -.4rem;
  position: absolute;
  bottom: .8rem;
}

.triflix__home-movies__redirect-arrow::before {
  border-radius: 1rem;
  content: "";
  display: inline-block;
  width: 3rem;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  height: .3rem;
  background: #000000;
  right: -.4rem;
  position: absolute;
  top: .8rem;
}

.triflix__home-movies__redirect:hover .triflix__home-movies__redirect-arrow {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 650px) {
  .triflix__home-movies__redirect h3 {
    right: 2.5rem;
    bottom: -1rem;
  }
  .triflix__home-movies__redirect-arrow {
    width: 7rem;
    height: .24rem;
  }
  .triflix__home-movies__redirect-arrow::after {
    width: 2.4rem;
    bottom: .6rem;
  }
  .triflix__home-movies__redirect-arrow::before {
    width: 2.4rem;
    top: .6rem;
  }
}

.triflix__home-movies__redirect i {
  font-size: 6rem;
}
/*# sourceMappingURL=index.css.map */