.triflix__home {
  position: relative;
  top: -10rem;

  &-carousel {
    // z-index: 1x1;
    img {
      width: 100%;
    }
    @media screen and (max-width: 870px) {
      & {
        padding: 8rem 0;
        background: black;
      }
    }
  }
  .swiper-pagination-bullet {
    opacity: 1;
    background: white;
  }

  .swiper-pagination-bullet-active {
    background: $secondary-color-1;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $secondary-color-1;
  }

  &-movies {
    padding: 3rem;

    &__switch {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .active {
        background: white;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
      }
      &-left {
        background: $primary-color-2;
        padding: 0.2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 50% 50% 0;
        .active {
          margin-left: 3rem;

          &.show {
            background: green;
          }
        }
      }
      &-right {
        background: $primary-color-2;
        padding: 0.2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $primary-color-2;
        border-radius: 50% 0 0 50%;

        .active {
          margin-right: 3rem;
          &.show {
            background: green;
          }
        }
      }
    }

    &__cards {
      padding: 3rem;
      margin: 2rem;
    //   background: $secondary-color-2;
      border-radius: 20px;

      img{
          width: 100%;
          border-radius: 1rem;
      }
      &-detail {
        //   color: white;
          h4{
              width: 100%;
          }
      }
    }
    @media screen and (min-width:1400px) {
        &__cards{
            margin: 3rem 10rem;
            padding: 3rem 10rem;
        }
    }
    @media screen and (min-width:1950px) {
        &__cards{
            margin: 3rem 10rem;
            padding: 3rem 15rem;
        }
    }
    @media screen and (max-width:1400px) and (min-width:1200px) {
        &__cards{
            padding: 3rem 8rem;
        }
    }
    
    @media screen and (max-width: 750px) {
      & {
        padding: 3rem 1rem;

        &__switch {
          &-left {
            padding: 0 1rem;
          }
          &-right {
            padding: 0 1rem;
          }
        }

        &__cards{
            font-size: .76rem;
            padding: 1rem;
            margin: 2rem 0;
        }
      }
    }
    @media screen and (max-width: 500px) {
      &__switch {
        font-size: 0.7rem;
        .active {
          width: 0.6rem;
          height: 0.6rem;
        }

        &-left {
          .active {
            margin-left: 1rem;
          }
        }
        &-right {
          .active {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

// swiper
