.triflix__home {
  position: relative;
  top: -10rem;

  &-carousel {
    // z-index: 1x1;
    img {
      width: 100%;
    }
    @media screen and (max-width: 870px) {
      & {
        padding: 8rem 0;
        background: black;
      }
    }
  }
  .swiper-pagination-bullet {
    opacity: 1;
    background: white;
  }

  .swiper-pagination-bullet-active {
    background: $secondary-color-1;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $secondary-color-1;
  }

  &-movies {
    padding: 3rem;

    &__switch {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .active {
        background: white;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
      }
      &-left {
        background: $secondary-color-2;
        padding: 0.2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary-color-1;
        border-radius: 0 50% 50% 0;
        .active {
            margin-left: 3rem;

            &.show {
                background: green;
            }
        }
    }
    &-right {
        padding: 0.2rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $secondary-color-2;
        color: $secondary-color-1;
        border-radius: 50% 0 0 50%;

        .active {
          margin-right: 3rem;
          &.show {
            background: green;
          }
        }
      }
    }

    &__cards {
      padding: 3rem;
      margin: 2rem;
      background: $secondary-color-2;
      border-radius: 20px;

      img{
          width: 100%;
          border-radius: 1rem;
      }
      &-detail {
          
          h4{
              font-size: 1.1rem;
              color: $secondary-color-1;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 100%;

              span{
                  
                  font-weight: bold;
                  color: $primary-color-2;
              }
          }
      }
    }
    @media screen and (min-width:1400px) {
        &__cards{
            margin: 3rem 10rem;
            padding: 3rem 15rem;
        }
    }
    @media screen and (min-width:1950px) {
        &__cards{
            margin: 3rem 10rem;
            padding: 3rem 15rem;
        }
    }
    @media screen and (max-width:1400px) and (min-width:1200px) {
        &__cards{
            padding: 3rem 8rem;
        }
    }
    
    @media screen and (max-width: 750px) {
      & {
        padding: 3rem 1rem;

        &__switch {
          &-left {
            padding: 0 1rem;
          }
          &-right {
            padding: 0 1rem;
          }
        }

        &__cards{
            font-size: .76rem;
            padding: 1rem;
            margin: 2rem 0;

            &-detail{
              h4{
                font-size: .8rem;
              }
            }
        }
      }
    }
    @media screen and (max-width: 500px) {
      &__switch {
        font-size: 0.7rem;
        .active {
          width: 0.6rem;
          height: 0.6rem;
        }

        &-left {
          .active {
            margin-left: 1rem;
          }
        }
        &-right {
          .active {
            margin-right: 1rem;
          }
        }
      }
    }

    &__redirect{
      position: absolute;
      right: 2rem;
      margin-top: 5rem;
      cursor: pointer;

      h3{
        position: absolute;
        right: 4rem;
        bottom: -.3rem;
        color: $secondary-color-1;
      }
      &-arrow{
        width: 10rem;
        height: .3rem;
        background: $secondary-color-2;
        position: relative;
        border-radius: 1rem;
        
        &::after{
          border-radius: 1rem;
          content: "";
          display: inline-block;
          width: 3rem;
          transform: rotate(35deg);
          height: .3rem;
          background: $secondary-color-2;
          right: -.4rem;
          position: absolute;
          bottom: .8rem;
        }
        
        &::before{
          border-radius: 1rem;
          content: "";
          display: inline-block;
          width: 3rem;
          transform: rotate(-35deg);
          height: .3rem;
          background: $secondary-color-2;
          right: -.4rem;
          position: absolute;
          top: .8rem;
        }

      }
      &:hover &-arrow{
        transition: all 1s ease-in;
        transform: scale(1.1);
      }
      @media screen and (max-width:650px) {
        h3{
          right: 2.5rem;
          bottom: -1rem;
        }
        &-arrow{
          width: 7rem;
          height: .24rem;

          &::after{
            width: 2.4rem;
            bottom: .6rem;
          }
          &::before{
            width: 2.4rem;
            top: .6rem;
          }
        }
      }
      i{
        font-size: 6rem;
      }
    }
  }
}

// swiper
