.triflix__gallery {
  padding: 3rem;
  margin-top: 3rem;
  &-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

    span {
      width: 4rem;
      height: 0.2rem;
      background: $tertiary-color;
    }
  }

  &-switch {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      h3 {
        color: rgba($primary-color-1, 0.5);
        &.show {
          color: $primary-color-1;
          transition: all 0.3s ease-in-out;
        }
      }
      
      span {
        transform: translateX(2rem);
        &.show {
          transform: translateX(0);
          transition: all 0.3s ease-in-out;
          width: 3rem;
          height: 0.15rem;
          background: $tertiary-color;
        }
      }
    }
    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      
      h3 {
        color: rgba($primary-color-1, 0.5);
        
        &.show {
          color: $primary-color-1;
          transition: all 0.3s ease-in-out;
        }
      }

      span {
        transform: translateX(-2rem);
        &.show {
          transform: translateX(0);
          transition: all 0.3s ease-in-out;
          width: 2.5rem;
          height: 0.15rem;
          background: $tertiary-color;
        }
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;

    &__item {
      position: relative;
      img {
        &:hover {
          transition: all 0.6s ease-in-out;
          transform: scale(1.2);
          cursor: pointer;
        }
      }
      .play-button {
        cursor: pointer;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.3);

        &__circle {
          padding: 1rem;
          background: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            transform: scale(1.1);
            transition: all 0.7s ease-in-out;
            background: rgba($color: red, $alpha: 0.7);
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: whitesmoke;
            border-radius: 50%;
            z-index: -1;
            opacity: 0.7;
            top: 0;
            right: 0;
          }

          &::after {
            animation: pulse 2s ease-in-out infinite;
          }
          &::before {
            animation: pulse 2s ease-in-out infinite;
          }

          @keyframes pulse {
            100% {
              transform: scale(2.5);
              opacity: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1400px) {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media screen and (max-width: 1000px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (max-width: 550px) {
      & {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-gap: 0;

        & > * {
          margin-bottom: 2rem;
        }
      }
    }
  }
  @media screen and (max-width: 550px) {
    & {
      padding: 1rem;
    }
  }
}
